[user]
    email = michaelifageras@gmail.com
    name = Michael Danielsson

[alias]
    lgall = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[core]
	autocrlf = false
